*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: #000;
  font-family: "Roboto", sans-serif;
}

html{
  overflow-x: hidden;
}

.container-header img{
  position: absolute;
  image-resolution: 100%;
  width: 100vw;
  height: 25vh;
}

.profile{
  text-align: center;
}

.profile img{
  margin-top: 110px;
  position: relative;
  width: 150px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.12);
  border: 6px solid #fff;
  border-radius: 50%;
  object-fit: cover;
  animation-name: rotate;
  animation-duration: 2.1s;
  animation-iteration-count:calc(1);
  animation-play-state: running;
}

.profile img:hover{
  cursor: pointer;
  animation-play-state: running;
}

@keyframes rotate {
  0% {
    transform: rotate(3);
  }
  100% {
    transform:matrix3d(360deg);
    width: 200px;
  }
}

.profile h1{
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}

.social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 30px;
  font-size: 25px;
}

.social-media a{
  color: #fff;
  text-decoration: none;
}

.social-media a:hover{
  color: rgb(65, 151, 223);
  transition: 0.7s;
}

.cards{
  display: grid;
  max-height: 200px;
  max-width: 500px;
  margin: 0 auto;
}

.card{
  padding: 15px;
  margin: 20px;
  background-color: rgba(136, 133, 133, 0.445);
  text-align: center;
  font-size: 1.5rem;
  border-radius: 20px;
  border: 1px solid rgb(40, 67, 185);
}

.card a{
  text-decoration: none;
}

details{
  color: #fff;
  font-weight: 300;
  font-size: 1.0rem;
}

.card h4{
  color: #fff;
  font-size: 1.0rem;
  font-weight: 300;
}

.card p{
  color: #adb0e0;
  font-size: 20px;
  text-align: left;
  font-style: italic;
}

.footer{
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 30px;
}

.footer h2{
  font-size: 15px;
  text-align: center;
  color: #fff;
}

.footer a{
  text-decoration: none;
}

.destaque{
  color: rgb(78, 78, 211);
}

.list-services p{
  color: #3599c7;
}